<main>
      
      <!-- ============================================================= SECTION – BACKGROUNDS HEADER ============================================================= -->
      
      <section id="backgrounds-header">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-9 inner center-block text-center">
              <header>
                <h1>Backgrounds</h1>
                <p>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
              </header>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section>


      <div class="container inner">
        <div class="row">
          
          <div class="col-md-3 inner-right-md inner-bottom-sm">
            
            <!-- ============================================================= SIDE NAVIGATION ============================================================= -->
              
            <ul class="sidenav">
            <li><%= link_to "Connect", connect_path %></li>
             <li><%= link_to "What's Sunday Like?", whats_sunday_like_path %></li>
             <li><%= link_to "Leadership", leadership_path %></li>
            <li><%= link_to "Grace Values", grace_values_path %></li>
             <li><%= link_to "Join the Team", join_the_team_path %></li>
            </ul><!-- /.sidenav -->
            
            <!-- ============================================================= SIDE NAVIGATION : END ============================================================= -->
            
          </div><!-- /.col -->

          <div class="col-md-9 inner-left-md border-left">


      </main>
      <%= render 'shared/footer' %>
    
    <!-- ============================================================= MAIN : END ============================================================= -->
    
    
    <!-- ============================================================= FOOTER ============================================================= -->
    

    <script src="assets/jquery.min.js"></script>
    <script src="assets/jquery.easing.1.3.min.js"></script>
    <script src="assets/jquery.form.js"></script>
    <script src="assets/jquery.validate.min.js"></script>
    <script src="assets/bootstrap.min.js"></script>
    <script src="assets/aos.js"></script>
    <script src="assets/owl.carousel.min.js"></script>
    <script src="assets/jquery.isotope.min.js"></script>
    <script src="assets/imagesloaded.pkgd.min.js"></script>
    <script src="assets/jquery.easytabs.min.js"></script>
    <script src="assets/viewport-units-buggyfill.js"></script>
    <script src="assets/scripts.js"></script>
    <script src="assets/custom.js"></script>
    
    