<main>

       
      <section id="pattern-background-1" class="light-bg img-bg-softer" style="background-image: url(assets/grace_eq/art/pattern-background01.jpg);">
      <div class="container inner">
        <div class="row">
          
          <div class="col-md-3 inner-right-md inner-bottom-sm">
            
            <!-- ============================================================= SIDE NAVIGATION ============================================================= -->
              
            <ul class="sidenav">
              <li><%= link_to "Connect", connect_path %></li>
              <li><%= link_to "What's Sunday Like?", whats_sunday_like_path %></li>
              <li><%= link_to "Leadership", leadership_path %></li>
              <li><%= link_to "Grace Values",  grace_values_path %></li>
              <li><%= link_to "Join the Team", join_the_team_path %></li>

            </ul><!-- /.sidenav -->
            
            <!-- ============================================================= SIDE NAVIGATION : END ============================================================= -->
            
          </div><!-- /.col -->
          
          <div class="col-md-9 inner-left-md border-left">
            
            <!-- ============================================================= SECTION – HERO ============================================================= -->
          
            <section id="hero" class="inner-bottom-xs">
              <header>
                <h1>Check the Video Below</h1>
              </header>
            </section>
            
            <!-- ============================================================= SECTION – HERO : END ============================================================= -->
            
            
            <!-- ============================================================= SECTION – CONTENT ============================================================= -->
            
            <section id="content" class="border-top-lg">
                  <div class="row">
            <div class="col-sm-12 center-block inner-top-sm">
              <div class="video-container">
               <iframe src="https://player.vimeo.com/video/207233999?autoplay=1&color=FF530D&title=0&byline=0&portrait=0" width="1170" height="658" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
            </div><!-- /.col -->
          </div><!-- /.row -->
            </section>
            
            <!-- ============================================================= SECTION – CONTENT : END ============================================================= -->
            
          </div><!-- ./col -->
            
        </div><!-- /.row -->
      </div><!-- /.container -->
      
      <!-- ============================================================= SECTION – SHARE ============================================================= -->
    </section>
      
    </main>
            
            <!-- ============================================================= SIDE NAVIGATION ============================================================= -->
            
  
      <%= render 'shared/footer' %>


    <script src="assets/jquery.min.js"></script>
    <script src="assets/jquery.easing.1.3.min.js"></script>
    <script src="assets/jquery.form.js"></script>
    <script src="assets/jquery.validate.min.js"></script>
    <script src="assets/bootstrap.min.js"></script>
    <script src="assets/aos.js"></script>
    <script src="assets/owl.carousel.min.js"></script>
    <script src="assets/jquery.isotope.min.js"></script>
    <script src="assets/imagesloaded.pkgd.min.js"></script>
    <script src="assets/jquery.easytabs.min.js"></script>
    <script src="assets/viewport-units-buggyfill.js"></script>
    <script src="assets/scripts.js"></script>
    <script src="assets/custom.js"></script>
