<main>
        <section id="pattern-background-1" class="light-bg img-bg-softer" style="background-image: url(assets/grace_eq/art/image-background01.jpg);">
      <div class="container inner">
        <div class="row">
          
          <div class="col-md-3 inner-right-md inner-bottom-sm">
            
            <!-- ============================================================= SIDE NAVIGATION ============================================================= -->
              
                   
            <ul class="sidenav">
              <li><%= link_to "Why we exist?",  why_we_exist_path %></li>
              <li><%= link_to "Grace Values",  grace_values_path %></li>
              <li><%= link_to "What's Sunday Like?", whats_sunday_like_path %></li>
              <li><%= link_to "Connect", connect_path %></li>
              <li><%= link_to "Leadership", leadership_path %></li>
      
            </ul><!-- /.sidenav -->
            
            
            <!-- ============================================================= SIDE NAVIGATION : END ============================================================= -->
            
          </div><!-- /.col -->
          
          <div class="col-md-9 inner-left-md border-left">
            
            <!-- ============================================================= SECTION – HERO ============================================================= -->
          
            <section id="hero" class="inner-bottom-xs text-center">
              <header>
                <h1>Leadership</h1>
              </header>
            </section>
            
            <section id="team" class="light-bg">
            <div class="item">
                  <figure class="member">
                    <img src="assets/grace_eq/art/justin.jpg" alt="">
                  </figure>
                </div><!-- /.item -->

                
                <div class="text-center">
                  <h2>
                    Justin Varghese
                    </br>
                 <p><b><i>Lead Pastor</i></b></p>
                 </h2>
                </div>


                  <p>Justin Varghese is a New York native who was raised in Queens/Long Island.</p>
               <p>After graduating from Bethel seminary God placed a dream in Justin’s heart to see a church planted in East Queens. This would be a church that would serve the surrounding neighborhoods helping people to know and experience the deep love of Jesus.</p>
                <p>Justin has a passion for the glorious message of the Gospel to captivate the disillusioned hearts of the second generation South Asian community and serve the broken and forgotten of East Queens.</p>
                 <p>On Easter Sunday, March 27th, the dream became a reality.</p>
                  
                  <ul class="social">
                    <li><a href="#"><i class="icon-s-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-s-gplus"></i></a></li>
                    <li><a href="#"><i class="icon-s-twitter"></i></a></li>
                  </ul><!-- /.social -->
                  
          
         

            </div><!-- /.col -->
            </section>
   
      </section>
    
      
    </main>
            
            <!-- ============================================================= SIDE NAVIGATION ============================================================= -->
      <%= render 'shared/footer' %>

