<header>
      <div class="navbar">
        
        <div class="navbar-header">
          <div class="container">
            
            <ul class="info pull-left">
              <li><a href="#"><i class="icon-mail-1 contact"></i> info@gracenyc.org</a></li>
              <li><i class="icon-mobile contact"></i> 347.817.7986 </li>
              <li><a href="https://itunes.apple.com/us/app/the-community-of-grace/id1072207434?ls=1&mt=8" target="blank"><i class="icon-monitor contact"></i>IPHONE APP | ANDROID APP</a></li>
              
            </ul><!-- /.info -->
            
            <ul class="social pull-right">
              <li><a href="https://www.facebook.com/GraceEastQueensLongIsland/" target="blank" ><i class="icon-s-facebook"></i></a></li>
              <li><a href="#"><i class="icon-s-gplus"></i></a></li>
              <li><a href="#"><i class="icon-s-twitter"></i></a></li>
            </ul><!-- /.social -->
            
            <!-- ============================================================= LOGO MOBILE ============================================================= -->
            
            <a class="navbar-brand" href="grace_eq#home"><img src="assets/grace_eq/grace_logo.svg" class="logo" alt=""></a>
            
            <!-- ============================================================= LOGO MOBILE : END ============================================================= -->
            
            <a class="navbar-toggle btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-menu-1'></i></a>
            
          </div><!-- /.container -->
        </div><!-- /.navbar-header -->
        
        <div class="yamm">
          <div class="navbar-collapse collapse">
            <div class="container">
              
              <!-- ============================================================= LOGO ============================================================= -->
              
              <a class="navbar-brand" href="/"><img src="assets/grace_eq/grace_logo.svg" class="logo" alt=""></a>
              
              <!-- ============================================================= LOGO : END ============================================================= -->
              
              
              <!-- ============================================================= MAIN NAVIGATION ============================================================= -->
              
              <ul class="nav navbar-nav">
                
                <li>
                   <li><%= link_to "I'm new", why_we_exist_path %></li>
                  
                </li><!-- /.dropdown -->
                 <li>
                   <li><%= link_to "Get to know us", know_us_path %></li>
                  </li>
                
                <li>
                   <li><%= link_to "What we do", what_we_do_path %></li>
                  </li>

                  <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources</a>
                  
                  <ul class="dropdown-menu">
                    <li><a href="/sermon_series">Sermon Series</a></li>
                    <li><a href="/app">App</a></li>
                    <li><a href="/books">Books</a></li>
                  </ul><!-- /.dropdown-menu -->
                </li><!-- /.dropdown -->
                
                
                 <li>
                   <li><%= link_to "Contribute", contribute_path %></li>
                  </li>
                

                 <li>
                   <li><%= link_to "Contact", contact_path %></li>
                  
                </li><!-- /.dropdown -->
                
              </ul><!-- /.nav -->
              
              <!-- ============================================================= MAIN NAVIGATION : END ============================================================= -->
              
            </div><!-- /.container -->
          </div><!-- /.navbar-collapse -->
        </div><!-- /.yamm -->
      </div><!-- /.navbar -->
    </header>


    
    
